body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(40, 97, 163);
}
h1 {
    color: rgb(0, 238, 255);
    font-size: 50px;
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
}
h3 {
    font-family: sans-serif;
}
button {
    border-radius: 15px;
    background-color: azure;
    size: 100px;
    font-size: larger;
    margin-top: 10px;
    font-family: sans-serif;
}
p {
    border-radius: 15px;
    size: 75px;
    font-size: larger;
    margin-top: 10px;
    font-family: sans-serif; 
    color: rgb(0, 238, 255);
}